#eye{
    width:10px;
    height: 10px;
    background-color: red;
    position: relative;
    top:-15px;
    z-index: 9;
    left:200px;
}
#pwd {
    width: 220px;
}
#pwd-text {
    width: 185px;
    height: 27px;
    z-index: -10;
    border: none;
    position: relative;
    left: 65px;
    top: -66px
}